extends layout

block content
  h1 Cloud Computing - INB356
  h2 Welcome to Tweeteros
  h5 Authors:
  p Oleksii Donets - Wissar Clearence



  .track_w_panel

    form(method='post', id='addKeyword')
        b
          label(for='track_w') Add a new Keyword:
        br
        input(type='text', id='theKeyword', name='theKeyword')
        br
        input(type='submit', id='f1_btn', value='Analyze')
        input(type='submit', id='f2_btn', value='Tweets of Interest')
        input(type='submit', id='f3_btn', value='Pause')
        input(type='submit', id='f4_btn', value='Stream')

      br
    .chart(class='chartx')
     script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
