doctype 5
html(ng-app)
    head
        title= titlex
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/angular.min.js')
        script(src='/javascripts/socket.io.js')
        script(src='/javascripts/engine.js',type='text/javascript')
        script(src='https://code.jquery.com/jquery-1.11.1.min.js')
    body
        block content
        .content(ng-controller='TestApp')
            h3
            div(ng-repeat='t in twitts')
                p(style='border-radius: 10px;background-color: #f7f7f7;height: 40px;padding: 10px; color:{{t.color}}')
                  b{{t.user.screen_name}}:
                  | {{t.text}}
