doctype 5
html
	head
		title Login for Twitter Forecast
		link(rel='stylesheet', href='/stylesheets/custom.css')
	body
		.containerCS
			.bigScreen
				p Twitter Forecaster
				.login-panel
					h1 Login with Twiter
					a(href='/auth/twitter', class='btn-login') Login
				p(class='footer') INB 356 - Cloud Computing
