    *{
            margin: 0px;
            padding: 0px;
        }
        body, html {
            height: 100%;
        }
        body {
            font-size: 16px;
        }
        .containerCs{
            min-height: 100%;
            height: auto !important;
            height: 100%;
              
        }
        /*SHOWCASE AREA*/
        .bigScreen {
            width: 100%;
            min-height: 400px;
            height: 60%;
            background-color: #5eb8dd;
            text-align: center;
            position: relative;
            margin: 0 auto;
 
        }
        .bigScreen p {
            font-family: 'Lato', sans-serif;
            font-size: 3em;
            color: #fff;
            text-shadow: 1px 1px #ccc;
        }
        .bigScreen .listName{
            font-size: 3.2em;
            color: #0987b2;
            padding-top: 40px;
        }
        .bigScreen .footer{
            font-size: 0.7em;
            color: #074790;
            position: absolute;
            bottom: 0;
            text-align: center;
            margin: 0 auto;
            display: block;
            width: 100%;
        }
  
     
		
		.login-panel{
			width: 400px;
			height:400px;
			border-radius:50%; 
			margin: 30px auto;
			border: 	1px solid white;
			box-shadow: 4px 4px 9px #D3D3D3;
			background-color: #393939;
			}
		.login-panel h1{
			font-family: "Open-sans", sans-serif;
			font-size:1.3em;
			color:white;
	    	text-shadow: 2px 2px #2330A3;
			margin-top:150px;
			}	
			
		.btn-login{
			display: block;
			background-color: #F9FAFA;
			width: 100px;
			height: 30px;
			margin-top: 24px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 0;
			border-radius: 5px;
			color: #37B9E8;
			text-decoration: none;
			padding-top: 5px;
			font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
			font-weight: lighter;
			font-size: large;
			box-shadow:  2px 2px 5px #43BAEB;
			}	