body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#C6EAF5;
}

a {
  color: #00B7FF;
}

#console{
    width:100%;
    background-color: #eee;
    min-height: 400px;
    padding: 10px;
}

.chart div {
  font: 10px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.chart div:nth-child(odd) {
    background: #2DBEEB;
}

.chart div:nth-child(even) {
    background: #F5C918;
}


.content{
  margin-top:130px;

}

#theKeyword{
  height: 50px;
  line-height: 1.3;
  font-size: 1.2em;
  border-radius: 20px;
  padding-left: 10px;
  width: 401px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;


}

input[type=submit]{
  float: left;
  width: 10%;
  border: 0;
  background-color: #6CB0C0;
  border-radius: 5px;
  /* border-top-left-radius: 0; */
  /* border-bottom-left-radius: 0; */
  padding: 0;
  height: 45px;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  -webkit-appearance: none;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;

}

.chartx{
    border: 10px solid rgb(79, 193, 219);
    width: auto;
    position: absolute;
    /* float: right; */
    right: 0px;
    top: 119px;
    overflow: hidden;
}

#checkDiv{
    margin-top: -100px;

}
 
